body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: #09090b;
  color: white;
}

/* Toggle checkbox (hidden) */
#toggle {
  display: none;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  width: 260px;
  background: #18181b;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
}

/* Collapsed state */
#toggle:checked ~ .sidebar {
  width: 80px;
}

/* Top */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* Hide text when collapsed */
#toggle:checked ~ .sidebar .logo,
#toggle:checked ~ .sidebar .nav-text,
#toggle:checked ~ .sidebar .profile-text {
  display: none;
}

/* Nav */
.nav {
  flex: 1;
  padding: 8px;
}

.nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #a1a1aa;
  transition: 0.2s;
}

.nav a:hover {
  background: #27272a;
  color: white;
}

/* Icons (simple placeholders) */
.icon {
  width: 20px;
  height: 20px;
  background: #3f3f46;
  border-radius: 4px;
}

/* Bottom profile */
.profile {
  padding: 16px;
  border-top: 1px solid #27272a;
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url(/adminPanel_1.0/images/baseUser.png);
  background-size: cover;
  background-position: center;
  border: 2px solid #333;
}

/* Toggle button style */
.toggle-btn {
  cursor: pointer;
  background: #27272a;
  padding: 6px 10px;
  border-radius: 6px;
}

.plans {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 20em 25em;
  gap: 20px;
}

.plan-card {
  display: baseline;
  background: #18181b;
  padding: 16px;
  border-radius: 12px;
  transition: 0.2s;
}

.plan-card:hover {
  background: #27272a;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.price {
  color: #a1a1aa;
  margin: 8px 0;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  background: #3f3f46;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.btn:hover {
  background: #52525b;
}

.products{
  display: grid;
  padding: 15px;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.product-card {
  background: #18181b;
  padding: 2em;
  border-radius: 12px;
  transition: 0.2s;
  width: 100%;
}
